test-build/*
classes
classes/*
test-output/*
test-build
test-output
keyset
dist
exploded-archives
resources/credentials.properties
resources/thoughtDocs.properties
thoughtDocs.iws
src/test/test.properties
users.yml
